@import "./shared/fonts";
@import "./shared/index";
@import "./shared/components/header";
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica" !important;
}

@media (max-width: 991px) {
  .base-page {
    margin-top: 250px;
    color: white;
  }
}
.base-page {
  padding-top: 150px;
  color: white;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: normal;
}

.stackable {
  margin-bottom: 0px !important;
}

.absolute {
  position: absolute;
}

// Sleek and futuristic
// #2C3531
// #116466
// #D9B08C
// #FFCB9A
// #D1E8E2

// Clean and Energetic
// #5680E9
// #84CEEB
// #5AB9EA
// #C1C8E4
// #8860D0
